.header {
    background-color: black;
}

.main-title {
    color: white;
    font-size: 128px;
    margin: 0px;
}

.sub-title {
    color: white;
    font-size: 64px;
}

.row {
    background-color: #fff;
    color: #333;
    padding: 18px;
    border: 1px #ccc solid;
    outline: none;
    font-size: 13pt;
}

details:hover {
    background-color: #fafafa;
}

summary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.title .time {
    color: #333;
    font-size: 13pt;
}

.time {
    text-align: right;
}

.author {
    color: #999;
}

.icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
}