<div>
    <div class="header">
        <h1 class="main-title">HN Feed</h1>
        <h3 class="sub-title">We <3 hacker news!</h3>
    </div>

    <div class="list">
        <div *ngFor="let hit of hits; index as i;">
            <details id="{{ 'detail'+ i }}" class="row" (mouseover)="displayTrans(i)" (click)="openDetail(i)">
                <summary>
                    <label class="title">{{ title(hit) }} </label>
                    <label class="author">-{{ hit.author }}-</label>
                    <div *ngIf="diferenceBetweenDate(hit.created_at) !== 1; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <label class="time">{{ hit.created_at | date:formatDate(hit.created_at) }}</label>
                    </ng-template>
                    <ng-template #elseBlock class="time">
                        <label class="time">Yesterday</label>
                    </ng-template>
                    <img src="assets/icons/trash-var-solid.png" class="icon" *ngIf="hit.trash" (click)="delete(hit._id, i)"/>
                </summary>
                <a href="{{ url(hit) }}" target="_blank">{{ url(hit) }}</a>
            </details>
        </div>
    </div>
</div>